.card {
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background:mediumturquoise;
    margin-bottom: 10%;
    
  }
  .question{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background:seashell;
  }